.cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cartItems {
  width: 700px;
  display: flex;
  flex-direction: column; /* Stack cart items vertically */
  gap: 30px; /* Space between each cart item */
}

.cartItems .cartItems {
  display: flex;
  flex-direction: row; /* Keep image and description side by side within each cart item */
  align-items: center;
  height: 250px; /* Set a fixed height for each cart item */
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  padding: 15px; /* Add padding for inner spacing */
}

.cartItems img {
  width: 200px;
  border-radius: 15px; /* Optional: to match the cart item border radius */
  margin-right: 20px; /* Space between image and description */
}

.cartItems .description {
  flex-grow: 1; /* Allow description to take available space */
  font-size: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.changeCount input {
  width: 40px;
  text-align: center;
  font-weight: bolder;
}

.checkout{
  font-size: 25px;
  font-weight: bold;
  padding-left: 20px 10px;
}

.checkout button {
  width: 150px;
  height: 50px;
  background-color: rgb(19, 19, 19);
  font-size: 15px;
  color: white;
  border: none;
  border-radius: 8px;
  margin: 10px;
  cursor: pointer;
}
